@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Kapakana:wght@300..400&family=Libertinus+Keyboard&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yarndings+12+Charted&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
  flex: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100;
  font-size: 7rem;
}

.inter-tight-header {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.yarndings-12-charted-regular {
  font-family: "Yarndings 12 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
}

.inter-tight-header {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.vidaloka-regular {
  font-family: "Vidaloka", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Libertinus Keyboard';
  src: url('libertinuskeyboard-regular-webfont.woff2') format('woff2'),
    url('libertinuskeyboard-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.libertinus-keyboard-regular {
  font-family: "Libertinus Keyboard", system-ui, sans-serif;
}

.playfair-display-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.heading {
  color: rgb(0, 0, 0);
  font-family: "Playfair Display", system-ui, sans-serif;
  display: inline;
  font-weight: normal;
  font-style: normal;
  font-size: 600%;
  align-items: center;
  align-self: center;
  margin-bottom: 20%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#word-color {
  color: blue;
  font-style: italic;
}

#word-size {
  font-size: 30px;
  color: blue;
  align-items: center;
}

#word-size2 {
  font-size: 30px;
  color: blue;
  bottom: 10%;
  align-items: center;
}

.one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5%;
  position: relative;
  box-sizing: content-box;
}

.one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: .05cm;
  background-color: black;
}


body {
  font-family: "Archivo";
  background-color: rgb(255, 255, 255);
  line-height: 18pt;
  widows: 2;
  orphans: 2;
  grid-auto-columns: auto;
}

.all2 {
  max-width: max-content;
}

h2 {
  color: blue;
  line-height: 22pt;
}

.heading:hover {
  color: aquamarine;
}

h2:hover {
  color: aquamarine;
}

.direct {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background: transparent;
}

.direct:hover {
  transform: scale(1.02);
}

.continue {
  color: blue;
  font-size: 120%;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

}

.continue svg {
  width: 23px;
  height: 23px;
  fill: blue;
  display: block;
}

.continue svg:hover {
  width: 24px;
  height: 24px;
  fill: blue;
  display: block;
}

.button {
  color: black;
  border-radius: 20px;
}



nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 10;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

nav {
  background-color: #ffffff;
  padding: 10px 20px;
}

h2 {
  font-family: "Inter Tight", sans-serif
}

.all {
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  align-items: top;
  columns: 2;
  padding-bottom: 10%;
}

nav {
  align-items: center;
}

.navigation {
  top: 30%;
  left: 50%;
}