.parent {
    text-align: center;
}

button {
    font-size: 20px;
    padding: 20px;
    background-color: #dcdcdc;
    border: solid 1px rgb(0, 0, 0);
}

.Togglefull {
  position: absolute;
  top: 20px;
  right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;}

  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #46daff;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 236, 32);
  border-radius: 50%;
  transition: 0.4s;}

  input:checked + .slider {
  background-color: #3f4087;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: rgb(255, 255, 255);
}


body.dark {
  background-color: #222;
  color: #f5f5f5;
  transition: 0.4s;
}